services:
  nats:
      image: nats:2.10-alpine
      command: ["-js", "-m", "8222"]
      ports:
        - "4222:4222"
        - "8222:8222"
      healthcheck:
        test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8222/varz"]
        interval: 10s
        timeout: 5s
        retries: 5
  gateway-service:
    build:
      context: .
      dockerfile: apps/gateway-service/Dockerfile
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
      DATABASE_URL: postgres://analytics:analytics@postgres:5432/analytics
      NATS_URL: nats://nats:4222
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      postgres:
         condition: service_healthy
      nats:
         condition: service_healthy
  ingestion-service:
    build:
      context: .
      dockerfile: apps/ingestion-service/Dockerfile
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
      DATABASE_URL: postgres://analytics:analytics@postgres:5432/analytics
      NATS_URL: nats://nats:4222
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      postgres:
         condition: service_healthy
      nats:
         condition: service_healthy
  reporting-service:
    build:
      context: .
      dockerfile: apps/reporting-service/Dockerfile
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
      DATABASE_URL: postgres://analytics:analytics@postgres:5432/analytics
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3002/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      postgres:
         condition: service_healthy

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U analytics -d analytics"]
      interval: 10s
      timeout: 5s
      retries: 5  

  events:
    image: andriiuni/events
    environment:
      EVENT_ENDPOINT: http://gateway-service:3000/api/webhook
    depends_on:
      gateway-service:
        condition: service_healthy

volumes:
  postgres_data:
